@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body{
  background-color: #f3f2da;
}

section {
  padding-bottom: 2em;
}

/*************************************/
/* Navigasi */
/*************************************/

.nav-link,
.nav-link:visited {
  font-size: 0.9em;
  font-weight: 500;
  color: black !important;
}

.nav-link:hover {
  color: #1aae9f !important;
}

.nav-link::after {
  display: block;
  content: "";
  border-bottom: 2px solid #1aae9f;
  transform: scaleX(0);
  transition: transform 500ms cubic-bezier(1, 0.19, 0, 0.86);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/*************************************/
/* Introduction */
/*************************************/


section.introduction {
  height: 45vh;
}

/*************************************/
/* Hero */
/*************************************/
#hero {
  height: auto;
  max-height: calc(100vh - 97.09px);
}

/*************************************/
/* Gallery */
/*************************************/

.background-gallery{
  background-color: #368a32;
}

/*************************************/
/* Profile */
/*************************************/
.size-profile{
  height: 45vh;
}

/*************************************/
/* Articles */
/*************************************/
.title-size {
  width: 20%;
}

/*************************************/
/* Footer */
/*************************************/
