* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

section {
  padding-bottom: 2em;
}

/*************************************/
/* Navigasi */
/*************************************/

nav ul li:not(:last-child) {
  margin-right: 50px;
}

.size-logo {
  width: 75px;
}

/*************************************/
/* Introduction */
/*************************************/

section.introduction {
  height: 30vh;
}

/*************************************/
/* Hero */
/*************************************/
#hero {
  height: auto;
  max-height: calc(100vh - 97.09px);
}

/*************************************/
/* Gallery */
/*************************************/

/*************************************/
/* Video Profile */
/*************************************/

.iframe-profile {
  min-width: 350px;
  min-height: 200px;
}

/*************************************/
/* Articles */
/*************************************/
.title-size {
  width: 20%;
}

/*************************************/
/* Footer */
/*************************************/

.circle-size {
  width: 50px;
}

.icon-youtube {
  margin-left: -2px;
}
